In [1]:
import pandas as pd

In [32]:
df = pd.read_csv('Data/filmtv_movies - ENG.csv')
df.head()

,filmtv_id,title,year,genre,duration,country,directors,actors,avg_vote,critics_vote,public_vote,total_votes,description,notes,humor,rhythm,effort,tension,erotism
0,2,Bugs Bunny's Third Movie: 1001 Rabbit Tales,1982,Animation,76,United States,"David Detiege, Art Davis, Bill Perez",NaN,7.7,8.00,7.0,22,"With two protruding front teeth, a slightly sl...","These are many small independent stories, whic...",3,3,0,0,0
1,3,18 anni tra una settimana,1991,Drama,98,Italy,Luigi Perelli,"Kim Rossi Stuart, Simona Cavallari, Ennio Fant...",6.5,6.00,7.0,4,"Samantha, not yet eighteen, leaves the comfort...","Luigi Perelli, the director of the ""Piovra"", o...",0,2,0,2,0
2,17,Ride a Wild Pony,1976,Romantic,91,United States,Don Chaffey,"Michael Craig, John Meillon, Eva Griffith, Gra...",5.6,6.00,5.0,9,"In the Australia of the pioneers, a boy and a ...","""Ecological"" story with a happy ending, not wi...",1,2,1,0,0
3,18,Diner,1982,Comedy,95,United States,Barry Levinson,"Mickey Rourke, Steve Guttenberg, Ellen Barkin,...",7.0,8.00,6.0,18,Five boys from Baltimore have a habit of meeti...,A cast of will be famous for Levinson's direct...,2,2,0,1,2
4,20,A che servono questi quattrini?,1942,Comedy,85,Italy,Esodo Pratelli,"Eduardo De Filippo, Peppino De Filippo, Clelia...",5.9,5.33,7.0,15,"With a stratagem, the penniless and somewhat p...",Taken from the play by Armando Curcio that the...,3,1,1,0,0

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40303 entries, 0 to 40302
Data columns (total 19 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   filmtv_id     40303 non-null  int64
 1   title         40303 non-null  object
 2   year          40303 non-null  int64
 3   genre         40208 non-null  object
 4   duration      40303 non-null  int64
 5   country       40292 non-null  object
 6   directors     40270 non-null  object
 7   actors        38251 non-null  object
 8   avg_vote      40303 non-null  float64
 9   critics_vote  35703 non-null  float64
 10  public_vote   39829 non-null  float64
 11  total_votes   40303 non-null  int64
 12  description   38848 non-null  object
 13  notes         18456 non-null  object
 14  humor         40303 non-null  int64
 15  rhythm        40303 non-null  int64
 16  effort        40303 non-null  int64
 17  tension       40303 non-null  int64
 18  erotism       40303 non-null  int64
dtypes: float64(3), int64(9), object(7)
memory usage: 5.8+ MB

In [34]:
df.describe()

,filmtv_id,year,duration,avg_vote,critics_vote,public_vote,total_votes,humor,rhythm,effort,tension,erotism
count,40303.000000,40303.000000,40303.000000,40303.000000,35703.000000,39829.000000,40303.000000,40303.000000,40303.000000,40303.000000,40303.000000,40303.000000
mean,56451.505273,1993.245639,100.484182,5.811133,5.806719,5.939843,36.164554,0.578443,1.355978,0.684614,0.925961,0.300548
std,58426.841621,23.654080,26.682713,1.410262,1.596473,1.486049,68.313133,0.896341,1.148082,1.109553,1.091663,0.628158
min,2.000000,1897.000000,41.000000,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,15577.500000,1976.000000,90.000000,4.900000,4.670000,5.000000,5.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,35891.000000,2001.000000,96.000000,5.900000,6.000000,6.000000,11.000000,0.000000,2.000000,0.000000,1.000000,0.000000
75%,69770.500000,2013.000000,107.000000,6.900000,7.000000,7.000000,35.000000,1.000000,2.000000,1.000000,2.000000,0.000000
max,221103.000000,2023.000000,1525.000000,10.000000,10.000000,10.000000,1056.000000,5.000000,5.000000,5.000000,5.000000,4.000000

In [35]:
# dropping columns 'filmtv_id', 'directors', 'actors', 'description' and 'notes' 
df.drop(['directors', 'actors', 'description', 'notes','filmtv_id'], axis=1, inplace=True)
df.head()

,title,year,genre,duration,country,avg_vote,critics_vote,public_vote,total_votes,humor,rhythm,effort,tension,erotism
0,Bugs Bunny's Third Movie: 1001 Rabbit Tales,1982,Animation,76,United States,7.7,8.00,7.0,22,3,3,0,0,0
1,18 anni tra una settimana,1991,Drama,98,Italy,6.5,6.00,7.0,4,0,2,0,2,0
2,Ride a Wild Pony,1976,Romantic,91,United States,5.6,6.00,5.0,9,1,2,1,0,0
3,Diner,1982,Comedy,95,United States,7.0,8.00,6.0,18,2,2,0,1,2
4,A che servono questi quattrini?,1942,Comedy,85,Italy,5.9,5.33,7.0,15,3,1,1,0,0

In [37]:
df.isnull().sum()

title              0
year               0
genre             95
duration           0
country           11
avg_vote           0
critics_vote    4600
public_vote      474
total_votes        0
humor              0
rhythm             0
effort             0
tension            0
erotism            0
dtype: int64

Checking for Null Values

In [38]:
# fill the null values in 'genre' , 'country' , 'critics_vote' and 'public_vote' columns with 'unknown'
df['genre'].fillna('unknown', inplace=True)
df['country'].fillna('unknown', inplace=True)
df['critics_vote'].fillna('unknown', inplace=True)
df['public_vote'].fillna('unknown', inplace=True)
df.isnull().sum()

title           0
year            0
genre           0
duration        0
country         0
avg_vote        0
critics_vote    0
public_vote     0
total_votes     0
humor           0
rhythm          0
effort          0
tension         0
erotism         0
dtype: int64

Checking for Infinite Values